@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
html, body{
    background:#121214;
    font-family: 'Montserrat','Futura BK BT';
    height: 100%!important;
}

canvas{
    width: 100%;
    height: 100%;
  }

#particles-js {
    position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
  left: 0px;
  opacity: 0.2;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


header {
    background: #fd951f;
    position: relative;
}
header .geometric {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    opacity: 0.8;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

nav a img {
    transition: all ease-out 1s;
}
.logoPreto {
    background-image: url('../img/preto2.png');
    width: 100%;
    height: auto;
    animation-delay: 0.5s;
    position: relative;
    padding-top: -40px;
}
.logoBranco {
    background-image: url('../img/branco.png');
    width: 170px;
    height: auto;
    animation-delay: 0.5s;
    position: relative;
    padding-top: -40px;
}

.navbar-brand {
    font-size: 2em;
    font-weight: 500;
}

/*.navbar-brand img {
    padding-bottom: .5rem!important;
}*/

.navbar-light {
    transition: all ease-out 1s;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.7);
}

.span-h1 {
    color: white;
}
.logo img {
    width: 110px;
}
.nav-link {
    color: #121214!important;
    font-weight: 600!important;
    font-size: 1.1em;
    text-transform: uppercase;
}
.info-text{
    width: 700px;
    margin-top: 15%;
}
.info-text h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 3.2em;
    font-weight: bold!important;
    text-align: justify;
}
.btn {
    margin-top: 15px!important;
    width: 260px;
    height: 60px;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}
.box-btn-contato {
    padding: 0 15px 0 15px;
}
.form-control {
    color: white;
}
#inputstate {
    background-color: transparent!important;
}
.form-control:focus {
    background-color: transparent!important;
}
input {
    color: white!important;
    font-size: 1em!important;
}
select {
    padding: 5px;
    color: white;
    font-size: 12px;
    background: transparent;

} 
select option{
background-color: #121214!important;
color: white;
}

.info-img img {
    width: 630px;
    margin: 15% 0;
    
}
.quemSomos img {
    width: 100%;
    margin-top: -1px;
    z-index: 10;
    position: relative;
}



@media (max-width: 576px){
    .info-text h1 {
        color: red;
        font-size: 1em;
    }
}


.quemSomos-conteudo {
    margin-top: 28%;
}

.quemSomos-text {
    color: white;
    font-size: 1.2em;
}
.quemSomos-text h2 {
    text-transform: uppercase;
    max-width: 335px;
}
.quemSomos-text h2:after {
    content: url("../img/seta/esquerda.svg");
    float: right;
    width: 100px;
}
.quemSomos-text img {
    max-width: 23%;
    margin-bottom: 30px;
    margin-left: 5px;
}

.quemSomos-text p {
    text-align: justify;
}

.servicos {
    margin-top:8%;
    height: 80vh;
}

.servicos h2 {
    color: white;
    text-align: center;
    font-size: 3em;
    padding-bottom: 2%;
    letter-spacing: 3px;
}

.servicos p {
    color: white;
    max-width: 60%;
    text-align: center;
    padding-bottom: 10%;
}

.card {
    background-color: #1f1f1f!important;
}
.card-body {
    align-items: center;
}
.card-img-top {
    width: 177px;
    height: 160px;
    padding-top: 20%;
}
.card-3 {
    width: 100%!important;
}
.card-title, .card-text {
    color: white!important;
}


.frase {
    height: 85vh;
}

.frase img {
    position: relative;
    max-width: 55%;
}


.frase h3 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    position: absolute;
    padding-top: 5%;
}
.span-h3 {
    color: #fd951f;
}
.contato {
    color: white;
    height: 80vh;
}
.contato-text h3 {
    text-transform: uppercase;
    font-size: 1.8em;
}
.contato-text {
    font-size: 1.1em;
    margin-top: 8%;
}
.contato-text img {
    max-width: 25%;
    padding-top: -10px;
}

.contato-form {
    border-radius: 5%;
}

.form-control {
    border:1px solid white!important;
    background: transparent!important;
}
label {
    color: white!important;
    font-size: 1.2em;
}
.btn {
    height: 45px!important;
    width: 240px!important;
}
.btn-warning {
    background-color: #fd951f!important;
}


footer {
    background: #fd951f;
    position: relative;
}
footer img {
    width: 100%;
    margin-top: -7.6%;
    z-index: 10;
}
.footer-logo img {
    width: 110px;
    cursor: pointer;
}











.modal-content {
    background-color: #1f1f1f!important;
}

.modal-header {
    border-bottom: none!important;
}
.modal-body img {
    max-width: 50%;
}
.modal-title {
    color: white;
    font-size: 1.6em;
    padding: 30px 0 40px 0;
    text-transform: uppercase;
    text-align: center;
}
.modal-title:after {
    content: url("../img/seta/esquerda.svg");
    width: 70px;
    float: right;
    margin-left: 15px;
    margin-top: -2px;
}
.modal-title:before {
    content: url("../img/seta/direita.svg");
    width: 70px;
    float: left;
    margin-right: 15px;
    margin-top: -2px;
}
.close {
    color: white;
}
.close:hover {
    color: white;
    opacity: 1;
}
.modal-body {
    color: white;
}
.modal-body p {
    max-width: 80%;
    margin: 0 auto;
}
.modal-body img {
    width: 250px;
}
img.manutencao {
    width: 290px;
}
.modal-footer {
    border-top: none!important;
}







.slide-top:hover {
	-webkit-animation: slide-top 0.2s ease-out both;
            animation: slide-top 0.2s ease-out both;
            cursor: pointer;
}


/* ----------------------------------------------
 * Generated by Animista on 2020-5-20 13:17:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
    }
  }
  